.head{
    background-color: aqua;
}
.logo{
    width : 10%;
}
.middle{
    background-color: blue;
}
.left{
    background-color: brown;
}
.right{
    background-color: coral;
}
.bottom{
    background-color: blueviolet;
}